
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #e8ecf1;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    padding: 20px 0;
}

.header {
    background: #2b3a55;
    color: #fff;
    
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.header-content {
    display: flex;
    align-items: center;  
    justify-content: space-between; 
    max-width: 1000px;
    margin: auto;
}

.header-info {
    display: flex;
    flex-direction: column;
}


.nav-menu {
    position: static;
}

.nav-menu ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.nav-menu a:hover {
    opacity: 0.7;
}

.avatar {
    width: 200px;   
    height: 200px;
    border-radius: 50%;
    border: 2px solid #2d0fb5;
    object-fit: cover;
}

.name {
    font-size: 28px;
    font-weight: bold;
}

.job {
    font-size: 16px;
    opacity: 0.8;
}

section h2 {
    font-size: 26px;
    margin-bottom: 15px;
    color: #2b3a55;
}

.about p {
    text-align: center;
    font-size: 20px; 
}

.about .avatar {
    display: block;
    margin: 0 auto;    
}

.skills {
    text-align: left;   
}

.skills ul {
    list-style: none;
    display: flex;
    justify-content: center;   
    gap: 20px;                 
    padding: 0;
    margin-top: 15px;
}

.skills li a {
    display: inline-block;
    padding: 10px 18px;
    background: #ffffff;
    border: 2px solid #2b3a55;
    border-radius: 25px;       
    font-size: 18px;
    font-weight: bold;
    color: #2b3a55;
    text-decoration: none;
    transition: 0.25s;
}


.skills li a:hover {
    background: #2b3a55;
    color: #fff;
    transform: translateY(-3px);  
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}


.project-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.project-item {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 47%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.project-item img {
    width: 100%;
    height: 180px;         
    object-fit: cover;     
    border-radius: 10px;
    margin-bottom: 10px;
}

.project-item h3 {
    margin-bottom: 10px;
}

.project-item p {
    margin-bottom: 10px;
}

.project-item a {
    text-decoration: none;
    color: #2b3a55;
    font-weight: bold;
}
.project-item:hover {
    background-color: #2b3a55;
    color: white;
    transform: translateY(-5px); 
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    border-color: #fff;
}


.contact a {
    color: #2b3a55;
    font-weight: bold;
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
    color: #1e2840;
}


.footer {       
    text-align: center;
    background: #2b3a55;
    color: #fff;
    padding: 15px 0;
    margin-top: 30px;       
    font-size: 16px;
}
